@font-face {
    font-family: "SuperMario256";
    src: url('SuperMario256.ttf') format("truetype");
} 
body {
    margin: 0;
    padding: 0;
    background-image: url("../imagens/fundo.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

main {
    font-family: "SuperMario256";
    color: blue;
    padding: 20px;
    font-size: x-large;
    width: 600px;
    margin: 40px auto;
}

label {
    display: block;
    
}

.BANANA {
    text-align: center;
    
}