body {
    display: flex;
    flex-wrap: wrap;
    gap: 15px;
}

.divisoria {
    width: 30%;
    height: 55px;
    background-color: red;
}

@media (max-width: 600px) {
     .divisoria {width: 100%}
}

@media (min-width: 600px) AND (max-width: 900px) {
     .divisoria {width: 48%}
}
@media (min-width: 900px) {
    .divisoria {width: 30%}
}
